.main {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.textBox {
  width: 40%;
  margin: 0 auto;
}

.buttonBox {
  max-width: 60%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.svgContainer {
  display: flex;
  justify-content: center;
}

.btn {
  height: 50px;
  width: 200px;
  padding: 25px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 100;
}

.login {
  background: lightgreen;
}

.register {
  background: rgb(136, 180, 53);
}

a {
  text-decoration: none;
}
