.navbar {
  display: flex;
  justify-content: space-between;

  border-bottom: 5px dashed black;
}

.imgContainer {
  /* border: 2px solid green; */
  height: 100px;
}

.img {
  height: 100%;
}

.ulList {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 25px;
  margin-right: 25px;
}

.navBarItem {
  /* border: 2px solid black; */
  /* background: lightgreen; */
  /* color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navLink {
  background: lightblue;
} */
