.navbar {
  display: flex;
  justify-content: space-between;
}

.imgContainer {
  height: 100px;
}

.img {
  height: 100%;
}

.ulList {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 25px;
  margin-right: 25px;
}

.navBarItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
